/*
*
* Tokyo night palette
* Maintainer: arc-d3v
*
*/

@define-color base   rgba(26,27,38,0.75);
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 rgba(17,17,24,0.40);
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #7aa2f7;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #73daca;
@define-color yellow    #e0af68;
@define-color peach     #ff9e64;
@define-color maroon    #eba0ac;
@define-color red       #f7768e;
@define-color mauve     #cba6f7;
@define-color pink      #ff007c;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;
