
//@theme "/home/arc/.config/rofi/themes/rounded-nord-dark.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/home/arc/.config/rofi/themes/rounded-nord-dark.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/home/arc/.config/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/arc/.config/rofi/themes/tokyo-night.rasi"

//@theme "/home/arc/.config/rofi/themes/tokyo-night.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

@theme "/home/arc/.config/rofi/themes/tokyo-night.rasi"
