window {
  background-image: url(".wallpaper");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#input-label {
  font-size: 0;
}

window button {
  background-color: #313244;
}

window entry {
  background-color: #313244;
  min-width: 5em;
  min-height: 3em;
}

#clock-label {
  font-size: 0;
}

#date-label {
  font-size: 0;
}

#runshell {
  margin-top: 10em;
}

#window-box {
  margin-top: 54em;
}

